	@charset "utf-8";
	/* CSS Document */
	#header {
		width: 40%;
	}
	
	/* ID */

	#name {
	    height: 50px;
	    width: 60%;
	    font-size: 45px;
	    border-radius: 300px;
	    border: none;
	    padding: 5px;
	    text-align: center;
	    text-align: justify;
	}
	
	#landing {
		background-image:url(../img/BACKGROUND/0.jpg);
	}
	
	#header:hover{transform: scale(1.1);}
	
	#instruction {color:#FFFFFF;}
	/* Element */	
	
	html,
	body,
	#container {
	    margin: 0px;
	    padding: 0px;
		overflow:hidden;
	    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}
	p {
	    color: #FFFFFF;
	    font-size: 40px;
	    margin-top: 0;
	    margin-left: 20px;
	    margin-right: 20px;
	}
	
	a:hover {
	    transform: scale(1.1);
	}
	a {
	    text-decoration: none;
	    font-weight: bolder;
	}	
	/* Class */
	
	.transperent {
	    background: #000000;
	    opacity: 0.6;
	    position: absolute;
	    z-index: 0;
	}
	.content {
	    position: absolute;
	    margin: auto;
	    margin-top: 50px;
	    z-index: 1;
	}
	.orange {
	    background-color: #FB7500;
	    color: #FFFFFF;
	}
	.white {
	    background-color: #FFFFFF;
	    color: #000000;
	}
	.btn {
	    padding: 15px;
	    padding-left: 30px;
	    padding-right: 30px;
	    border-radius: 300px;
	    margin: 70px;
		margin-left: 200px;
	    float: left;
	    width: 20%;
	}
	#play {
		margin-left:38%;
	}
	a[name="box"] {
		position: relative;
		left: 100;
		align-content:center;
		width:100%;
	}
	
	.content {
	    margin-top: 50px;
	}
	.background, .background2 {
	    background-size: cover;
	    background-repeat: no-repeat;
	    transition: background-image 1s ease-in-out;
	    background-position: center;
		background-color:#000000;
	}
	.box:hover {
	    transform: scale(1.05);
	    cursor: pointer;
	}
	.navigation {
	    margin: auto;
	    width: 100%;
	    padding: auto;
	}
	.center {align-content:center; align-items:center; align-self:center; margin-top:50px; margin-left: 38%;}
	#resultImg:hover {transform: scale(1.1);}

	section {height: 100vh; width:100vw; text-align: center;}		
	.box {
		background:#FFFFFF;
		float: left;
		margin: 100px;
		margin-top:10px;
		width:450px;
	}		